<!doctype html>
<html>
<head>Add your item to cart!</head>
<body>
  <h1>
    <form action="/checkout" method="POST">
      <input type="text" name="item">

      <input type="submit" name="submit">
    </form>
  </h1>
</body>
</html>
